<h3>Rules:</h3>
<br>
<h5>Enter any two words.</h5>
<h5>You may check if they:</h5>
<br>
<h6>are an anagram (if they contain the same letters in a different order)
<h6>are a palindrome (if the words spell the same backward and forwards)
<h6>are an antigram (if the words contain none of the same letters)
<br>
<hr>
<br>
<form  action='/result'>
  <div class="form-group">
    <label for="input1">Enter First Word:</label>
    <input id="input1" name="input1" type="text">
  </div>
  <div class="form-group">
    <label for="input2">Enter Second Word:</label>
    <input id="input2" name="input2" type="text">
  </div>
  <button type="submit" class="btn bg-primary">Submit</button>
</form>
<br>
<hr>
